@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
@import "variables";
@import "card";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $background;
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}
.mainContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
